opencv-python-headless==4.8.0.76
opencv-contrib-python==4.8.0.76
Flask-Frozen

aiohttp==3.8.5
aiosignal==1.3.1
anyio==3.7.1
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
bard==0.1
bardapi==0.1.30
beautifulsoup4==4.12.2
blinker==1.6.2
browser-cookie3==0.19.1
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
comm==0.1.4
decorator==5.1.1
deep-translator==1.11.4
distlib==0.3.7
exceptiongroup==1.1.2
executing==1.2.0
filelock==3.12.2
Flask==2.0.1
frozenlist==1.3.3
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-core==2.3.3
google-cloud-translate==3.12.0
googleapis-common-protos==1.60.0
grpcio==1.56.2
grpcio-status==1.56.2
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.3
httpx==0.24.1
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.7.0
ipython==7.34.0
itsdangerous==2.1.2
jedi==0.19.0
Jinja2==3.1.2
jupyterlab-widgets==3.0.8
langdetect==1.0.9
lz4==4.3.2
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
multidict==6.0.4
numpy
openai
opencv-python==4.8.0.76

parso
pickleshare
platformdirs
prompt-toolkit
proto-plus
protobuf
pure-eval
pyasn1
pyasn1-modules
pycryptodomex
Pygments
requests
rsa
six
sniffio
soupsieve
stack-data
tqdm
traitlets
typing_extensions
urllib3
viola
virtualenv
wcwidth
Werkzeug
wget
widgetsnbextension
Wikipedia-API
yarl
zipp



